<div class="yu2_back">
    <img class="img-responsive yu2_backimg" style="z-index: 1" src="img/yu1.png">
    <div class="back-cover"></div>
    <img class="img-responsive yu2_backimg" style="z-index: 1500;  width: 90%;height: 90%;top: 5%;max-width: 640px;margin: 0 auto;" src="img/yu2.png">
    <img class="img-responsive yu2-like" src="img/yu2_like.png">
    <a style="width: 70%;left: 0%;bottom: -62%;position: relative;"><img class="img-responsive" src="img/yu2_button2.png" ng-click="goto('2')">
    <img class="img-responsive" src="img/yu2_button1.png" ng-click="goto('1')">
    <img class="img-responsive" src="img/yu2_button3.png" ng-click="goto('3')"></a>
</div>
