<div class="yu2_back">
    <img class="img-responsive yu2_backimg" src="img/yu5.png">
    <div class="yu5">
        <img class="img-responsive" src="img/yu5/{{imgid}}.png">
    </div>
    <!--<div class="yu5_p">-->
        <!--<img class="img-responsive" src="img/yu5_p.png">-->

    <!--</div>-->
    <a class="yu3_a">
    <!--<div class="yu5_bottom">-->
        <img class="img-responsive" src="img/yu5_button1.png" ng-click="back()">
    <!--</div>-->
    <!--<div class="yu5_bottom1">-->
      <img class="img-responsive" src="img/yu5_button2.png" ng-click="go()">
    <!--</div>-->
    </a>
</div>