*{margin: 0;padding: 0;}
img{
	max-width: 100%;
	display: block;
}
body{
	max-width: 640px;
	margin: 0 auto;
}
.toContact img{
	/*margin-top: 0%;*/
	margin-left: 10%;
	width: 82%;
}
.toContact{
	background-image: url(http://pic.pocketuni.net/data/sys_pic/anCai/13.jpg);
	background-size: cover;
	-webkit-background-size: cover;
}
#share{
	margin-left: 38%;
	width: 25%;
}
.shareDiv{
	background-image: url(http://pic.pocketuni.net/data/sys_pic/anCai/13.jpg);
	background-size: cover;
	-webkit-background-size: cover;
}
.transparent{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top:0;
	left: 0;
	display: none;
}
.transparent div{
	width: 80%;
	height: auto;
	padding: 10px 0;
	background: #fff;
	border-radius:10px ;
	display: table;
	text-align: center;
	margin: 10% auto;
}
.transparent div img{width: 64px;height: 64px;display: inline-block;margin: 0 5%;}