html {
    /*height: 100%;*/
    -webkit-user-select: none
}

body {
    /*height: 100%;*/
    font-size: 16px;
    color: #3e3e3e;
    background-color: #f2f1ee;
    max-width: 640px;margin: 0 auto;
}
i{
    font-style:normal;
}

/* 清除内外边距 */
h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}

address, cite, dfn, em, var {
    font-style: normal;
}

/* 将斜体扶正 */
/* 重置列表元素 */
ul, ol {
    list-style: none;
}

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after {
    content: '';
}

/* 重置表单元素 */
legend {
    color: #000;
}

/* for ie6 */
fieldset, img {
    border: none;
}

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}
.container{
    width: 100% !important;
}
/*清除浮动*/
.clearfix{
    clear: both;
}
.clearfix:after{
    display: table;
    content: '';
}
.clearfix:before{
    display: table;
    content: '';
}
.padding-5{
    padding:5px;

}

.btn:focus,
 .btn:active:focus,
 .btn.active:focus,
 .btn.focus,
 .btn:active.focus,
 .btn.active.focus {
     outline: none;
 }
input:focus,
input:active:focus,
input.active:focus,
input.focus,
input:active.focus,
input.active.focus {
    outline: none;
}
a,
a:active,a:link,a:visited,a:hover {
    display: block;
    text-decoration: none;
    color: #888;
}

.added-friend{
    color: #ccc;
    border: 1px solid #ccc;
}
.liked{
    color: #ea5504;
}

.nonestr{
    margin: 2px auto;
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
}
.col-my-12{
    width:98%;
    margin: 1%;
    float: left;
    position: relative;
    min-height: 1px;
}
.col-my-12 > img{
    width: 100%;
}
.col-my-6{
    width:48%;
    margin: 1%;
    float: left;
    position: relative;
    min-height: 1px;
}
.col-my-4{
    width:31.33%;
    margin: 1%;
    float: left;
    position: relative;
    min-height: 1px;
}
.tips-toutiao{
    display: inline-block;
    width: 40px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #f69d08;
    color: #fff;
}
.tips-pu{
    display: inline-block;
    width: 40px;
    margin-right: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #ea5504;
    color: #fff;
}
.white{
    background-color: #fff;
}
.arrow {
    width: 10px;
    height: 10px;
    overflow:hidden;
    zoom: 1;
    position: absolute;
    border-right: 1px solid #ea5504;
    border-bottom: 1px solid #ea5504;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: #fff;
}